.elementor-14
  .elementor-element.elementor-element-3775c61:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-14
  .elementor-element.elementor-element-3775c61
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #eaeaea;
}
.elementor-14 .elementor-element.elementor-element-3775c61 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-14
  .elementor-element.elementor-element-3775c61
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-14 .elementor-element.elementor-element-b311ea8 {
  text-align: center;
}
.elementor-14 .elementor-element.elementor-element-e2aa615 {
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-890f91a
  .swiper-slide-bg {
  background-color: #bbb;
  background-image: url(אחרי_קורונה.jpeg);
  background-size: cover;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-890f91a
  .elementor-background-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-cd9096e
  .swiper-slide-bg {
  background-color: #bbb;
  background-image: url(slider.jpg);
  background-size: cover;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-cd9096e
  .elementor-background-overlay {
  background-color: rgba(0, 0, 0, 0.41);
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-f3b20b8
  .swiper-slide-bg {
  background-color: #a19fa2;
  background-image: url(IMG-20180111-WA0005-e1576583793300.jpg);
  background-size: cover;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-f3b20b8
  .elementor-background-overlay {
  background-color: rgba(0, 0, 0, 0.13);
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-af9b51c
  .swiper-slide-bg {
  background-color: #909090;
  background-image: url(123.jpg);
  background-size: cover;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-8cbd25b
  .swiper-slide-bg {
  background-color: #bbb;
  background-image: url(cycling-scaled.jpg);
  background-size: cover;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-8cbd25b
  .elementor-background-overlay {
  background-color: rgba(0, 0, 0, 0.33);
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-d6e390c
  .swiper-slide-bg {
  background-color: #bbb;
  background-image: url(tractor.jpg);
  background-size: cover;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-d6e390c
  .elementor-background-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-158be5b
  .swiper-slide-bg {
  background-color: #bbb;
  background-image: url(62d397f1-26e3-4d9d-9058-285f4ca068dd.jpg);
  background-size: cover;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-158be5b
  .swiper-slide-inner
  .elementor-slide-heading {
  color: #f2efef;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-158be5b
  .swiper-slide-inner
  .elementor-slide-description {
  color: #f2efef;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-158be5b
  .swiper-slide-inner
  .elementor-slide-button {
  color: #f2efef;
  border-color: #f2efef;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-repeater-item-158be5b
  .swiper-slide-contents {
  text-shadow: 50px 24px 33px #ce1a00;
}
.elementor-14 .elementor-element.elementor-element-ef1457c .swiper-slide {
  height: 480px;
  transition-duration: calc(5s * 1.2);
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .swiper-slide-contents {
  max-width: 66%;
}
.elementor-14 .elementor-element.elementor-element-ef1457c .swiper-slide-inner {
  text-align: center;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-slide-heading {
  font-size: 41px;
  line-height: 0.8em;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-slide-description {
  font-size: 23px;
  line-height: 0.8em;
}
.elementor-14
  .elementor-element.elementor-element-ef1457c
  .elementor-slide-button {
  font-size: 22px;
}
.elementor-14 .elementor-element.elementor-element-1bf92a7 {
  --divider-border-style: trees_tribal;
  --divider-color: #7a7a7a;
  --divider-pattern-height: 20px;
}
.elementor-14
  .elementor-element.elementor-element-1bf92a7
  .elementor-divider-separator {
  width: 4%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-14 .elementor-element.elementor-element-1bf92a7 .elementor-divider {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-14 .elementor-element.elementor-element-ade3e51 {
  --iteration-count: infinite;
  --animation-duration: 1.2s;
  --dynamic-text-color: #126833;
}
.elementor-14 .elementor-element.elementor-element-ade3e51 .elementor-headline {
  text-align: center;
  font-weight: 700;
}
.elementor-14
  .elementor-element.elementor-element-ade3e51
  .elementor-headline-dynamic-wrapper
  path {
  stroke: #126833;
}
.elementor-14
  .elementor-element.elementor-element-ade3e51
  .elementor-headline-plain-text {
  color: #126833;
}
.elementor-14
  .elementor-element.elementor-element-ade3e51
  .elementor-headline-dynamic-text {
  font-weight: 700;
}
.elementor-14 .elementor-element.elementor-element-80d3e5b {
  font-size: 18px;
  text-transform: none;
  line-height: 2em;
  letter-spacing: 0px;
}
.elementor-14
  .elementor-element.elementor-element-80d3e5b
  > .elementor-widget-container {
  margin: 0 0 -18px;
}
.elementor-14 .elementor-element.elementor-element-d079f77 {
  margin-top: -30px;
  margin-bottom: -30px;
}
.elementor-14 .elementor-element.elementor-element-dc074e6 {
  font-size: 18px;
  text-transform: none;
  line-height: 2em;
  letter-spacing: 0px;
}
.elementor-14
  .elementor-element.elementor-element-dc074e6
  > .elementor-widget-container {
  margin: -5px -1px -12px;
  padding: -6px;
}
.elementor-14 .elementor-element.elementor-element-8a43576 {
  margin-top: -20px;
  margin-bottom: -20px;
}
.elementor-14 .elementor-element.elementor-element-9b07d50 {
  font-size: 18px;
  text-transform: none;
  line-height: 2em;
  letter-spacing: 0px;
}
.elementor-14 .elementor-element.elementor-element-37983c9 .elementor-button {
  font-size: 16px;
  fill: #126833;
  color: #126833;
  background-color: rgba(255, 255, 255, 0.94);
  border-style: solid;
  border-width: 1px;
  border-color: #126833;
}
.elementor-14
  .elementor-element.elementor-element-37983c9
  .elementor-button:hover,
.elementor-14
  .elementor-element.elementor-element-37983c9
  .elementor-button:focus {
  color: #fff;
  background-color: #126833;
}
.elementor-14
  .elementor-element.elementor-element-37983c9
  .elementor-button:hover
  svg,
.elementor-14
  .elementor-element.elementor-element-37983c9
  .elementor-button:focus
  svg {
  fill: #fff;
}
.elementor-14
  .elementor-element.elementor-element-0ad7281
  .elementor-spacer-inner {
  height: 40px;
}
.elementor-14
  .elementor-element.elementor-element-aa55423
  > .elementor-background-overlay {
  background-color: #126833;
  opacity: 0.99;
}
.elementor-14 .elementor-element.elementor-element-aa55423,
.elementor-14
  .elementor-element.elementor-element-aa55423
  > .elementor-background-overlay {
  border-radius: 0;
}
.elementor-14
  .elementor-element.elementor-element-aa55423
  > .elementor-shape-top
  svg {
  width: calc(100% + 1.3px);
  height: 83px;
}
.elementor-14 .elementor-element.elementor-element-aa55423 {
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-14 .elementor-element.elementor-element-715f903 {
  text-align: center;
}
.elementor-14
  .elementor-element.elementor-element-715f903
  .elementor-heading-title {
  color: #fff;
  font-weight: 700;
  line-height: 2em;
}
.elementor-14
  .elementor-element.elementor-element-715f903
  > .elementor-widget-container {
  margin: 26px 0 0;
}
.elementor-14 .elementor-element.elementor-element-6b27b5e {
  --divider-border-style: solid;
  --divider-color: #fff;
  --divider-border-width: 1px;
}
.elementor-14
  .elementor-element.elementor-element-6b27b5e
  .elementor-divider-separator {
  width: 9%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-14 .elementor-element.elementor-element-6b27b5e .elementor-divider {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
.elementor-14
  .elementor-element.elementor-element-6b27b5e
  > .elementor-widget-container {
  margin: -10px;
}
.elementor-14 .elementor-element.elementor-element-fa7bae4 {
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 2.2em;
}
.elementor-14
  .elementor-element.elementor-element-fa7bae4
  > .elementor-widget-container {
  margin: 0 20px;
}
.elementor-14 .elementor-element.elementor-element-5c24e82 .elementor-button {
  fill: #fff;
  color: #fff;
  background-color: #126833;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
}
.elementor-14
  .elementor-element.elementor-element-5c24e82
  .elementor-button:hover,
.elementor-14
  .elementor-element.elementor-element-5c24e82
  .elementor-button:focus {
  color: #126833;
  background-color: #fff;
}
.elementor-14
  .elementor-element.elementor-element-5c24e82
  .elementor-button:hover
  svg,
.elementor-14
  .elementor-element.elementor-element-5c24e82
  .elementor-button:focus
  svg {
  fill: #126833;
}
.elementor-14
  .elementor-element.elementor-element-5c24e82
  > .elementor-widget-container {
  margin: -20px 0 45px;
}
.elementor-14
  .elementor-element.elementor-element-5a349fc
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-14
  .elementor-element.elementor-element-3865a70
  .elementor-heading-title {
  color: #126833;
  font-weight: 700;
}
.elementor-14 .elementor-element.elementor-element-7595039 {
  font-size: 16px;
}
.elementor-14 .elementor-element.elementor-element-6d6d6a7 .elementor-button {
  background-color: #126833;
  border-style: solid;
  border-width: 0.5px;
  border-color: #126833;
}
.elementor-14
  .elementor-element.elementor-element-6d6d6a7
  .elementor-button:hover,
.elementor-14
  .elementor-element.elementor-element-6d6d6a7
  .elementor-button:focus {
  color: #126833;
  background-color: #fff;
  border-color: #126833;
}
.elementor-14
  .elementor-element.elementor-element-6d6d6a7
  .elementor-button:hover
  svg,
.elementor-14
  .elementor-element.elementor-element-6d6d6a7
  .elementor-button:focus
  svg {
  fill: #126833;
}
body:not(.rtl) .elementor-14 .elementor-element.elementor-element-6d6d6a7 {
  left: 0;
}
body.rtl .elementor-14 .elementor-element.elementor-element-6d6d6a7 {
  right: 0;
}
.elementor-14 .elementor-element.elementor-element-6d6d6a7 {
  bottom: 0;
}
.elementor-14
  .elementor-element.elementor-element-dc79db9
  .elementor-main-swiper {
  height: 345px;
}
.elementor-14
  .elementor-element.elementor-element-dc79db9.elementor-skin-slideshow
  .elementor-main-swiper {
  margin-bottom: 10px;
}
.elementor-14
  .elementor-element.elementor-element-dc79db9
  .elementor-swiper-button {
  font-size: 20px;
}
.elementor-14 .elementor-element.elementor-element-440a755 {
  --divider-border-style: dots_tribal;
  --divider-color: #000;
  --divider-pattern-height: 20px;
}
.elementor-14
  .elementor-element.elementor-element-440a755
  .elementor-divider-separator {
  width: 30%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-14 .elementor-element.elementor-element-440a755 .elementor-divider {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-14
  .elementor-element.elementor-element-86c9038
  .elementor-cta__content {
  min-height: 100px;
  text-align: center;
  background-color: rgba(145, 72, 72, 0);
}
.elementor-14
  .elementor-element.elementor-element-86c9038
  .elementor-cta__bg-wrapper {
  min-height: 300px;
}
.elementor-14
  .elementor-element.elementor-element-86c9038
  .elementor-cta__title {
  font-size: 1px;
}
.elementor-14
  .elementor-element.elementor-element-86c9038
  .elementor-cta__title:not(:last-child) {
  margin-bottom: 0;
}
.elementor-14
  .elementor-element.elementor-element-86c9038
  .elementor-cta__description {
  font-size: 0.1vw;
  font-weight: 400;
  font-style: normal;
}
.elementor-14
  .elementor-element.elementor-element-86c9038
  .elementor-cta
  .elementor-cta__bg,
.elementor-14
  .elementor-element.elementor-element-86c9038
  .elementor-cta
  .elementor-cta__bg-overlay {
  transition-duration: 1.5s;
}
.elementor-14
  .elementor-element.elementor-element-f00c639
  .elementor-cta__content {
  text-align: center;
  background-color: rgba(145, 72, 72, 0);
}
.elementor-14
  .elementor-element.elementor-element-f00c639
  .elementor-cta__bg-wrapper {
  min-height: 300px;
}
.elementor-14
  .elementor-element.elementor-element-f00c639
  .elementor-cta__title {
  font-size: 1px;
}
.elementor-14
  .elementor-element.elementor-element-f00c639
  .elementor-cta__title:not(:last-child) {
  margin-bottom: 2px;
}
.elementor-14
  .elementor-element.elementor-element-f00c639
  .elementor-cta__description {
  font-size: 1px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
}
.elementor-14
  .elementor-element.elementor-element-f00c639
  .elementor-cta
  .elementor-cta__bg,
.elementor-14
  .elementor-element.elementor-element-f00c639
  .elementor-cta
  .elementor-cta__bg-overlay {
  transition-duration: 1.5s;
}
.elementor-14
  .elementor-element.elementor-element-e61980d
  .elementor-cta__content {
  text-align: center;
  background-color: rgba(145, 72, 72, 0);
}
.elementor-14
  .elementor-element.elementor-element-e61980d
  .elementor-cta__bg-wrapper {
  min-height: 300px;
}
.elementor-14
  .elementor-element.elementor-element-e61980d
  .elementor-cta__title {
  font-size: 1px;
}
.elementor-14
  .elementor-element.elementor-element-e61980d
  .elementor-cta
  .elementor-cta__bg,
.elementor-14
  .elementor-element.elementor-element-e61980d
  .elementor-cta
  .elementor-cta__bg-overlay {
  transition-duration: 1.5s;
}
.elementor-14
  .elementor-element.elementor-element-4f30562
  .elementor-cta__content {
  text-align: center;
  background-color: rgba(145, 72, 72, 0);
}
.elementor-14
  .elementor-element.elementor-element-4f30562
  .elementor-cta__bg-wrapper {
  min-height: 300px;
}
.elementor-14
  .elementor-element.elementor-element-4f30562
  .elementor-cta__title {
  font-size: 1px;
}
.elementor-14
  .elementor-element.elementor-element-4f30562
  .elementor-cta
  .elementor-cta__bg,
.elementor-14
  .elementor-element.elementor-element-4f30562
  .elementor-cta
  .elementor-cta__bg-overlay {
  transition-duration: 1.5s;
}
.elementor-14
  .elementor-element.elementor-element-8c88cf8
  .elementor-cta__content {
  text-align: center;
  background-color: rgba(145, 72, 72, 0);
}
.elementor-14
  .elementor-element.elementor-element-8c88cf8
  .elementor-cta__bg-wrapper {
  min-height: 300px;
}
.elementor-14
  .elementor-element.elementor-element-8c88cf8
  .elementor-cta__title {
  font-size: 1px;
}
.elementor-14
  .elementor-element.elementor-element-8c88cf8
  .elementor-cta
  .elementor-cta__bg,
.elementor-14
  .elementor-element.elementor-element-8c88cf8
  .elementor-cta
  .elementor-cta__bg-overlay {
  transition-duration: 1.5s;
}
.elementor-14
  .elementor-element.elementor-element-98faf28
  .elementor-cta__content {
  text-align: center;
  background-color: rgba(145, 72, 72, 0);
}
.elementor-14
  .elementor-element.elementor-element-98faf28
  .elementor-cta__bg-wrapper {
  min-height: 300px;
}
.elementor-14
  .elementor-element.elementor-element-98faf28
  .elementor-cta__title {
  font-size: 1px;
}
.elementor-14
  .elementor-element.elementor-element-98faf28
  .elementor-cta
  .elementor-cta__bg,
.elementor-14
  .elementor-element.elementor-element-98faf28
  .elementor-cta
  .elementor-cta__bg-overlay {
  transition-duration: 1.5s;
}
.elementor-14 .elementor-element.elementor-element-bac2968 {
  --divider-border-style: dots_tribal;
  --divider-color: #000;
  --divider-pattern-height: 20px;
}
.elementor-14
  .elementor-element.elementor-element-bac2968
  .elementor-divider-separator {
  width: 30%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-14 .elementor-element.elementor-element-bac2968 .elementor-divider {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-14 .elementor-element.elementor-element-bb4073b {
  text-align: center;
}
.elementor-14
  .elementor-element.elementor-element-bb4073b
  .elementor-heading-title {
  color: #126833;
}
.elementor-14
  .elementor-element.elementor-element-bb4073b
  > .elementor-widget-container {
  background-color: rgba(18, 104, 51, 0);
}
.elementor-14
  .elementor-element.elementor-element-54d5c9c
  .elementor-main-swiper
  .swiper-slide {
  border-width: 0;
  padding: 60px;
}
.elementor-14
  .elementor-element.elementor-element-54d5c9c.elementor-testimonial--layout-image_inline
  .elementor-testimonial__footer,
.elementor-14
  .elementor-element.elementor-element-54d5c9c.elementor-testimonial--layout-image_stacked
  .elementor-testimonial__footer {
  margin-top: 39px;
}
.elementor-14
  .elementor-element.elementor-element-54d5c9c.elementor-testimonial--layout-image_above
  .elementor-testimonial__footer {
  margin-bottom: 39px;
}
.elementor-14
  .elementor-element.elementor-element-54d5c9c.elementor-testimonial--layout-image_left
  .elementor-testimonial__footer {
  padding-right: 39px;
}
.elementor-14
  .elementor-element.elementor-element-54d5c9c.elementor-testimonial--layout-image_right
  .elementor-testimonial__footer {
  padding-left: 39px;
}
.elementor-14
  .elementor-element.elementor-element-54d5c9c
  .elementor-testimonial__text {
  font-size: 18px;
  font-weight: 400;
}
.elementor-14
  .elementor-element.elementor-element-54d5c9c
  .elementor-swiper-button {
  font-size: 20px;
}
.elementor-14
  .elementor-element.elementor-element-54d5c9c
  .elementor-testimonial__content {
  padding: 20px;
}
.elementor-14
  .elementor-element.elementor-element-54d5c9c.elementor-testimonial--layout-image_left
  .elementor-testimonial__footer,
.elementor-14
  .elementor-element.elementor-element-54d5c9c.elementor-testimonial--layout-image_right
  .elementor-testimonial__footer {
  padding-top: 20px;
}
.elementor-14
  .elementor-element.elementor-element-54d5c9c.elementor-testimonial--layout-image_above
  .elementor-testimonial__footer,
.elementor-14
  .elementor-element.elementor-element-54d5c9c.elementor-testimonial--layout-image_inline
  .elementor-testimonial__footer,
.elementor-14
  .elementor-element.elementor-element-54d5c9c.elementor-testimonial--layout-image_stacked
  .elementor-testimonial__footer {
  padding: 0 20px;
}
.elementor-14
  .elementor-element.elementor-element-54d5c9c
  > .elementor-widget-container {
  background-image: url("recommend-copy-3-scaled.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.elementor-14
  .elementor-element.elementor-element-357db25
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-14 .elementor-element.elementor-element-c97aade {
  --divider-border-style: solid;
  --divider-color: #7a7a7a;
  --divider-border-width: 1px;
}
.elementor-14
  .elementor-element.elementor-element-c97aade
  .elementor-divider-separator {
  width: 50%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-14 .elementor-element.elementor-element-c97aade .elementor-divider {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}
.elementor-14 .elementor-element.elementor-element-d441650 {
  text-align: right;
}
.elementor-14
  .elementor-element.elementor-element-d441650
  .elementor-heading-title {
  color: #126833;
  font-weight: 700;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0;
}
body:not(.rtl)
  .elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0;
}
body
  .elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-field-type-html {
  padding-bottom: 0;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #fff;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #fff;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .e-form__buttons__wrapper__button-next {
  background-color: #126833;
  color: #fff;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-button[type="submit"] {
  background-color: #126833;
  color: #fff;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-button[type="submit"]
  svg
  * {
  fill: #fff;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .e-form__buttons__wrapper__button-previous {
  color: #fff;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .e-form__buttons__wrapper__button-next:hover {
  color: #fff;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-button[type="submit"]:hover {
  color: #fff;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #fff;
}
.elementor-14
  .elementor-element.elementor-element-244ad35
  .e-form__buttons__wrapper__button-previous:hover {
  color: #fff;
}
.elementor-14 .elementor-element.elementor-element-244ad35 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #fff;
  --e-form-steps-indicator-active-secondary-color: #fff;
  --e-form-steps-indicator-completed-secondary-color: #fff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-14 .elementor-element.elementor-element-e9e3502 iframe {
  height: 332px;
}
.elementor-14 .elementor-element.elementor-element-dfd3ad8 {
  line-height: 1.5em;
}
.elementor-14 .elementor-element.elementor-element-3976a8a6 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 17px;
  --grid-column-gap: 10px;
  --grid-row-gap: 0px;
}
.elementor-14
  .elementor-element.elementor-element-3976a8a6
  .elementor-widget-container {
  text-align: center;
}
.elementor-14
  .elementor-element.elementor-element-3976a8a6
  .elementor-social-icon {
  --icon-padding: 0.8em;
}
.elementor-14 .elementor-element.elementor-element-dc88813 {
  --divider-border-style: dots_tribal;
  --divider-color: #000;
  --divider-pattern-height: 20px;
}
.elementor-14
  .elementor-element.elementor-element-dc88813
  .elementor-divider-separator {
  width: 20%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-14 .elementor-element.elementor-element-dc88813 .elementor-divider {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .elementor-14 .elementor-element.elementor-element-171b7de {
    width: 53.044%;
  }
  .elementor-14 .elementor-element.elementor-element-2abf6a9 {
    width: 46.939%;
  }
}
@media (max-width: 1024px) {
  .elementor-14
    .elementor-element.elementor-element-dc79db9.elementor-skin-slideshow
    .elementor-main-swiper {
    margin-bottom: 10px;
  }
  .elementor-14
    .elementor-element.elementor-element-3976a8a6
    .elementor-widget-container {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .elementor-14
    .elementor-element.elementor-element-dc79db9.elementor-skin-slideshow
    .elementor-main-swiper {
    margin-bottom: 10px;
  }
  .elementor-14 .elementor-element.elementor-element-dfd3ad8 {
    column-gap: 0;
    font-size: 11px;
  }
  .elementor-14
    .elementor-element.elementor-element-3976a8a6
    .elementor-widget-container {
    text-align: center;
  }
}
/*
     FILE ARCHIVED ON 20:41:17 Jun 14, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:24:07 Aug 24, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 75.627
  exclusion.robots: 0.146
  exclusion.robots.policy: 0.135
  cdx.remote: 0.064
  esindex: 0.01
  LoadShardBlock: 47.299 (3)
  PetaboxLoader3.datanode: 81.677 (5)
  load_resource: 184.733 (2)
  PetaboxLoader3.resolve: 93.663 (2)
*/
