.elementor-2278 .elementor-element.elementor-element-37daa77 {
  font-size: 1px;
  line-height: 0.1em;
  letter-spacing: -1.8px;
}
.elementor-2278 .elementor-element.elementor-element-80036a2 {
  column-gap: 4px;
  text-align: center;
  color: #010e03;
  font-size: 17px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: 0px;
}
.elementor-2278
  .elementor-element.elementor-element-dbc2d59
  .elementor-repeater-item-7d6d76a
  .swiper-slide-bg {
  background-color: #833ca3;
  background-image: url(WhatsApp-Image-2020-11-27-at-14.06.31.jpeg);
  background-size: cover;
}
.elementor-2278
  .elementor-element.elementor-element-dbc2d59
  .elementor-repeater-item-e0c0468
  .swiper-slide-bg {
  background-color: #4054b2;
  background-image: url(WhatsApp-Image-2020-11-27-at-14.06.31-3.jpeg);
  background-size: cover;
}
.elementor-2278
  .elementor-element.elementor-element-dbc2d59
  .elementor-repeater-item-e2bbeef
  .swiper-slide-bg {
  background-color: #1abc9c;
  background-image: url(WhatsApp-Image-2020-11-27-at-14.06.29-1.jpeg);
  background-size: cover;
}
.elementor-2278 .elementor-element.elementor-element-dbc2d59 .swiper-slide {
  height: 610px;
  transition-duration: calc(5s * 1.2);
}
.elementor-2278
  .elementor-element.elementor-element-dbc2d59
  .swiper-slide-contents {
  max-width: 66%;
}
.elementor-2278
  .elementor-element.elementor-element-dbc2d59
  .swiper-slide-inner {
  text-align: center;
}
@media (max-width: 767px) {
  .elementor-2278 .elementor-element.elementor-element-80036a2 {
    font-size: 23px;
  }
}

