.elementor-2513 .elementor-element.elementor-element-997cf01{text-align:center}.elementor-2513 .elementor-element.elementor-element-997cf01 .elementor-heading-title{color:#046203;font-size:31px;font-weight:700}.elementor-2513 .elementor-element.elementor-element-c532e3e{text-align:center;font-size:20px;font-weight:400;font-style:normal;line-height:1.6em;text-shadow:0px 0px 0px rgba(0,0,0,.3)}
/*
     FILE ARCHIVED ON 19:46:19 Jun 17, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:26:01 Aug 24, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 321.24
  exclusion.robots: 0.141
  exclusion.robots.policy: 0.129
  cdx.remote: 0.072
  esindex: 0.011
  LoadShardBlock: 288.416 (3)
  PetaboxLoader3.resolve: 176.082 (4)
  PetaboxLoader3.datanode: 74.426 (5)
  load_resource: 212.756 (2)
*/