.elementor-126 .elementor-element.elementor-element-108bfcd {
  text-align: center
}

.elementor-126 .elementor-element.elementor-element-108bfcd .elementor-heading-title {
  color: #126833;
  font-weight: 700
}

.elementor-126 .elementor-element.elementor-element-4789286 {
  column-gap: 0;
  font-size: 18px;
  line-height: 1.6em
}

.elementor-126 .elementor-element.elementor-element-749dd7e {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px
}

.elementor-126 .elementor-element.elementor-element-749dd7e .elementor-divider-separator {
  width: 100%
}

.elementor-126 .elementor-element.elementor-element-749dd7e .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px
}

.elementor-126 .elementor-element.elementor-element-efda128.elementor-skin-slideshow .elementor-main-swiper {
  margin-bottom: 10px
}

.elementor-126 .elementor-element.elementor-element-efda128 .elementor-swiper-button {
  font-size: 20px
}

.elementor-126 .elementor-element.elementor-element-08f5e80 .elementor-heading-title {
  font-weight: 700
}

.elementor-126 .elementor-element.elementor-element-a83f301 {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-4445ff2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-4445ff2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-4445ff2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(2px/2);
  margin-left: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-4445ff2 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-2px/2);
  margin-left: calc(-2px/2)
}

body.rtl .elementor-126 .elementor-element.elementor-element-4445ff2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-2px/2)
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-4445ff2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-2px/2)
}

.elementor-126 .elementor-element.elementor-element-4445ff2 {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size,1em)*0.125)
}

.elementor-126 .elementor-element.elementor-element-4445ff2 .elementor-icon-list-text {
  padding-right: 5px
}

.elementor-126 .elementor-element.elementor-element-4445ff2 .elementor-icon-list-item>.elementor-icon-list-text,.elementor-126 .elementor-element.elementor-element-4445ff2 .elementor-icon-list-item>a {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-36aace2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-36aace2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-36aace2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(2px/2);
  margin-left: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-36aace2 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-2px/2);
  margin-left: calc(-2px/2)
}

body.rtl .elementor-126 .elementor-element.elementor-element-36aace2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-2px/2)
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-36aace2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-2px/2)
}

.elementor-126 .elementor-element.elementor-element-36aace2 {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size,1em)*0.125)
}

.elementor-126 .elementor-element.elementor-element-36aace2 .elementor-icon-list-text {
  padding-right: 5px
}

.elementor-126 .elementor-element.elementor-element-36aace2 .elementor-icon-list-item>.elementor-icon-list-text,.elementor-126 .elementor-element.elementor-element-36aace2 .elementor-icon-list-item>a {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-0ce22e7 .elementor-spacer-inner {
  height: 40px
}

.elementor-126 .elementor-element.elementor-element-6d5690c.elementor-skin-slideshow .elementor-main-swiper {
  margin-bottom: 10px
}

.elementor-126 .elementor-element.elementor-element-6d5690c .elementor-swiper-button {
  font-size: 20px
}

.elementor-126 .elementor-element.elementor-element-74e883f .elementor-heading-title {
  font-weight: 700
}

.elementor-126 .elementor-element.elementor-element-eab0133 {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-02be870 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-02be870 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-02be870 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(2px/2);
  margin-left: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-02be870 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-2px/2);
  margin-left: calc(-2px/2)
}

body.rtl .elementor-126 .elementor-element.elementor-element-02be870 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-2px/2)
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-02be870 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-2px/2)
}

.elementor-126 .elementor-element.elementor-element-02be870 {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size,1em)*0.125)
}

.elementor-126 .elementor-element.elementor-element-02be870 .elementor-icon-list-text {
  padding-right: 5px
}

.elementor-126 .elementor-element.elementor-element-02be870 .elementor-icon-list-item>.elementor-icon-list-text,.elementor-126 .elementor-element.elementor-element-02be870 .elementor-icon-list-item>a {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-aa232cb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-aa232cb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-aa232cb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(2px/2);
  margin-left: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-aa232cb .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-2px/2);
  margin-left: calc(-2px/2)
}

body.rtl .elementor-126 .elementor-element.elementor-element-aa232cb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-2px/2)
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-aa232cb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-2px/2)
}

.elementor-126 .elementor-element.elementor-element-aa232cb {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size,1em)*0.125)
}

.elementor-126 .elementor-element.elementor-element-aa232cb .elementor-icon-list-text {
  padding-right: 5px
}

.elementor-126 .elementor-element.elementor-element-aa232cb .elementor-icon-list-item>.elementor-icon-list-text,.elementor-126 .elementor-element.elementor-element-aa232cb .elementor-icon-list-item>a {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-826efe9 .elementor-spacer-inner {
  height: 40px
}

.elementor-126 .elementor-element.elementor-element-3feca8f.elementor-skin-slideshow .elementor-main-swiper {
  margin-bottom: 10px
}

.elementor-126 .elementor-element.elementor-element-3feca8f .elementor-swiper-button {
  font-size: 20px
}

.elementor-126 .elementor-element.elementor-element-a5bf2b1 .elementor-heading-title {
  font-weight: 700
}

.elementor-126 .elementor-element.elementor-element-082f6e2 {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-5f01240 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-5f01240 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-5f01240 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(2px/2);
  margin-left: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-5f01240 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-2px/2);
  margin-left: calc(-2px/2)
}

body.rtl .elementor-126 .elementor-element.elementor-element-5f01240 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-2px/2)
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-5f01240 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-2px/2)
}

.elementor-126 .elementor-element.elementor-element-5f01240 {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size,1em)*0.125)
}

.elementor-126 .elementor-element.elementor-element-5f01240 .elementor-icon-list-text {
  padding-right: 5px
}

.elementor-126 .elementor-element.elementor-element-5f01240 .elementor-icon-list-item>.elementor-icon-list-text,.elementor-126 .elementor-element.elementor-element-5f01240 .elementor-icon-list-item>a {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-807b82c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-807b82c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-807b82c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(2px/2);
  margin-left: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-807b82c .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-2px/2);
  margin-left: calc(-2px/2)
}

body.rtl .elementor-126 .elementor-element.elementor-element-807b82c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-2px/2)
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-807b82c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-2px/2)
}

.elementor-126 .elementor-element.elementor-element-807b82c {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size,1em)*0.125)
}

.elementor-126 .elementor-element.elementor-element-807b82c .elementor-icon-list-text {
  padding-right: 5px
}

.elementor-126 .elementor-element.elementor-element-807b82c .elementor-icon-list-item>.elementor-icon-list-text,.elementor-126 .elementor-element.elementor-element-807b82c .elementor-icon-list-item>a {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-60c2e6d .elementor-spacer-inner {
  height: 40px
}

.elementor-126 .elementor-element.elementor-element-841469c.elementor-skin-slideshow .elementor-main-swiper {
  margin-bottom: 10px
}

.elementor-126 .elementor-element.elementor-element-841469c .elementor-swiper-button {
  font-size: 20px
}

.elementor-126 .elementor-element.elementor-element-d444c9d .elementor-heading-title {
  font-weight: 700
}

.elementor-126 .elementor-element.elementor-element-298b233 {
  color: #000;
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-e6b483e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-e6b483e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-e6b483e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(2px/2);
  margin-left: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-e6b483e .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-2px/2);
  margin-left: calc(-2px/2)
}

body.rtl .elementor-126 .elementor-element.elementor-element-e6b483e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-2px/2)
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-e6b483e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-2px/2)
}

.elementor-126 .elementor-element.elementor-element-e6b483e {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size,1em)*0.125)
}

.elementor-126 .elementor-element.elementor-element-e6b483e .elementor-icon-list-text {
  padding-right: 5px
}

.elementor-126 .elementor-element.elementor-element-e6b483e .elementor-icon-list-item>.elementor-icon-list-text,.elementor-126 .elementor-element.elementor-element-e6b483e .elementor-icon-list-item>a {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-5642ce4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-5642ce4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-5642ce4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(2px/2);
  margin-left: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-5642ce4 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-2px/2);
  margin-left: calc(-2px/2)
}

body.rtl .elementor-126 .elementor-element.elementor-element-5642ce4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-2px/2)
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-5642ce4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-2px/2)
}

.elementor-126 .elementor-element.elementor-element-5642ce4 {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size,1em)*0.125)
}

.elementor-126 .elementor-element.elementor-element-5642ce4 .elementor-icon-list-text {
  padding-right: 5px
}

.elementor-126 .elementor-element.elementor-element-5642ce4 .elementor-icon-list-item>.elementor-icon-list-text,.elementor-126 .elementor-element.elementor-element-5642ce4 .elementor-icon-list-item>a {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-aa1a472 .elementor-spacer-inner {
  height: 40px
}

.elementor-126 .elementor-element.elementor-element-099ed00.elementor-skin-slideshow .elementor-main-swiper {
  margin-bottom: 10px
}

.elementor-126 .elementor-element.elementor-element-099ed00 .elementor-swiper-button {
  font-size: 20px
}

.elementor-126 .elementor-element.elementor-element-6175d6a .elementor-heading-title {
  font-weight: 700
}

.elementor-126 .elementor-element.elementor-element-7c5e024 {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-8d37f00 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-8d37f00 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-8d37f00 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(2px/2);
  margin-left: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-8d37f00 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-2px/2);
  margin-left: calc(-2px/2)
}

body.rtl .elementor-126 .elementor-element.elementor-element-8d37f00 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-2px/2)
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-8d37f00 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-2px/2)
}

.elementor-126 .elementor-element.elementor-element-8d37f00 {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size,1em)*0.125)
}

.elementor-126 .elementor-element.elementor-element-8d37f00 .elementor-icon-list-text {
  padding-right: 5px
}

.elementor-126 .elementor-element.elementor-element-8d37f00 .elementor-icon-list-item>.elementor-icon-list-text,.elementor-126 .elementor-element.elementor-element-8d37f00 .elementor-icon-list-item>a {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-0cc7975 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-0cc7975 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-0cc7975 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(2px/2);
  margin-left: calc(2px/2)
}

.elementor-126 .elementor-element.elementor-element-0cc7975 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-2px/2);
  margin-left: calc(-2px/2)
}

body.rtl .elementor-126 .elementor-element.elementor-element-0cc7975 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-2px/2)
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-0cc7975 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-2px/2)
}

.elementor-126 .elementor-element.elementor-element-0cc7975 {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: center;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size,1em)*0.125)
}

.elementor-126 .elementor-element.elementor-element-0cc7975 .elementor-icon-list-text {
  padding-right: 5px
}

.elementor-126 .elementor-element.elementor-element-0cc7975 .elementor-icon-list-item>.elementor-icon-list-text,.elementor-126 .elementor-element.elementor-element-0cc7975 .elementor-icon-list-item>a {
  font-size: 16px
}

.elementor-126 .elementor-element.elementor-element-04a892c .elementor-spacer-inner {
  height: 40px
}

.elementor-126 .elementor-element.elementor-element-3acee84 .elementor-heading-title {
  color: #126833;
  font-weight: 700
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-field-group {
  padding-right: calc(10px/2);
  padding-left: calc(10px/2);
  margin-bottom: 10px
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-form-fields-wrapper {
  margin-left: calc(-10px/2);
  margin-right: calc(-10px/2);
  margin-bottom: -10px
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-field-group.recaptcha_v3-bottomleft,.elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0
}

body.rtl .elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-labels-inline .elementor-field-group>label {
  padding-left: 0
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-labels-inline .elementor-field-group>label {
  padding-right: 0
}

body .elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-labels-above .elementor-field-group>label {
  padding-bottom: 0
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-field-type-html {
  padding-bottom: 0
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
  background-color: #fff
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-field-group .elementor-select-wrapper select {
  background-color: #fff
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .e-form__buttons__wrapper__button-next {
  color: #fff
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-button[type=submit] {
  color: #fff
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-button[type=submit] svg * {
  fill: #fff
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .e-form__buttons__wrapper__button-previous {
  color: #fff
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .e-form__buttons__wrapper__button-next:hover {
  color: #fff
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-button[type=submit]:hover {
  color: #fff
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .elementor-button[type=submit]:hover svg * {
  fill: #fff
}

.elementor-126 .elementor-element.elementor-element-a2194a8 .e-form__buttons__wrapper__button-previous:hover {
  color: #fff
}

.elementor-126 .elementor-element.elementor-element-a2194a8 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #fff;
  --e-form-steps-indicator-active-secondary-color: #fff;
  --e-form-steps-indicator-completed-secondary-color: #fff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px
}

.elementor-126 .elementor-element.elementor-element-4320dba {
  --divider-border-style: solid;
  --divider-color: #000;
  --divider-border-width: 1px
}

.elementor-126 .elementor-element.elementor-element-4320dba .elementor-divider-separator {
  width: 100%
}

.elementor-126 .elementor-element.elementor-element-4320dba .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px
}

@media(max-width: 1024px) {
  .elementor-126 .elementor-element.elementor-element-efda128.elementor-skin-slideshow .elementor-main-swiper {
      margin-bottom:10px
  }

  .elementor-126 .elementor-element.elementor-element-6d5690c.elementor-skin-slideshow .elementor-main-swiper {
      margin-bottom: 10px
  }

  .elementor-126 .elementor-element.elementor-element-3feca8f.elementor-skin-slideshow .elementor-main-swiper {
      margin-bottom: 10px
  }

  .elementor-126 .elementor-element.elementor-element-841469c.elementor-skin-slideshow .elementor-main-swiper {
      margin-bottom: 10px
  }

  .elementor-126 .elementor-element.elementor-element-099ed00.elementor-skin-slideshow .elementor-main-swiper {
      margin-bottom: 10px
  }
}

@media(max-width: 767px) {
  .elementor-126 .elementor-element.elementor-element-efda128.elementor-skin-slideshow .elementor-main-swiper {
      margin-bottom:10px
  }

  .elementor-126 .elementor-element.elementor-element-6d5690c.elementor-skin-slideshow .elementor-main-swiper {
      margin-bottom: 10px
  }

  .elementor-126 .elementor-element.elementor-element-3feca8f.elementor-skin-slideshow .elementor-main-swiper {
      margin-bottom: 10px
  }

  .elementor-126 .elementor-element.elementor-element-841469c.elementor-skin-slideshow .elementor-main-swiper {
      margin-bottom: 10px
  }

  .elementor-126 .elementor-element.elementor-element-099ed00.elementor-skin-slideshow .elementor-main-swiper {
      margin-bottom: 10px
  }
}