.elementor-653 .elementor-element.elementor-element-dabbb04 .elementor-spacer-inner {
    height: 50px
}

.elementor-653 .elementor-element.elementor-element-3acee84 .elementor-heading-title {
    color: #126833;
    font-weight: 700
}

.elementor-653 .elementor-element.elementor-element-aa40606 {
    font-size: 18px
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-field-group {
    padding-right: calc(10px/2);
    padding-left: calc(10px/2);
    margin-bottom: 10px
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-form-fields-wrapper {
    margin-left: calc(-10px/2);
    margin-right: calc(-10px/2);
    margin-bottom: -10px
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0
}

body.rtl .elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0
}

body:not(.rtl) .elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0
}

body .elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-field-type-html {
    padding-bottom: 0
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #fff
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-field-group .elementor-select-wrapper select {
    background-color: #fff
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .e-form__buttons__wrapper__button-next {
    color: #fff
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-button[type=submit] {
    color: #fff
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-button[type=submit] svg * {
    fill: #fff
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .e-form__buttons__wrapper__button-previous {
    color: #fff
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .e-form__buttons__wrapper__button-next:hover {
    color: #fff
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-button[type=submit]:hover {
    color: #fff
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .elementor-button[type=submit]:hover svg * {
    fill: #fff
}

.elementor-653 .elementor-element.elementor-element-a2194a8 .e-form__buttons__wrapper__button-previous:hover {
    color: #fff
}

.elementor-653 .elementor-element.elementor-element-a2194a8 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #fff;
    --e-form-steps-indicator-active-secondary-color: #fff;
    --e-form-steps-indicator-completed-secondary-color: #fff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px
}

.elementor-653 .elementor-element.elementor-element-41589b0 {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px
}

.elementor-653 .elementor-element.elementor-element-41589b0 .elementor-widget-container {
    text-align: center
}

.elementor-653 .elementor-element.elementor-element-4320dba {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px
}

.elementor-653 .elementor-element.elementor-element-4320dba .elementor-divider-separator {
    width: 100%
}

.elementor-653 .elementor-element.elementor-element-4320dba .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px
}